<div class="w-full flex flex-col justify-start items-center">
  <p style="color: green"><%= notice %></p>

  <%= render @admin_course %>

  <div class="flex gap-4 mt-4">
    <%= link_to "Back to courses", admin_courses_path %> |

    <%= button_to "Destroy this course", [:admin, @admin_course], method: :delete, data: { 'turbo-confirm': "Are you sure?" } %>
  </div>
</div>
