<p style="color: green"><%= notice %></p>

<%= render @admin_lesson %>

<div>
  <%= link_to "Edit this lesson", edit_admin_course_lesson_path(@admin_course, @admin_lesson) %> |
  <%= link_to "Back to course", admin_course_path(@admin_course) %>
</div>
